header {
    background-color: aquamarine;
    color:aliceblue;
    margin:10px 10px;
    text-decoration: underline;
    text-align: center;
}
body {
    display:flex;  justify-content:center;
    min-height:30vh;
  }
section {
    background-color: aquamarine;
    border: red 10px solid;
    text-align: center;
    padding: 30px;
    width:40%
}
section  label {
    color: red;
    font-size: 20px;
}
section form input {
    background-color: gray;
    border-radius: 20px;
    height: 20px;
}
