/*
styles with background properties
*/
h2 {
    background-color: cadetblue;
}

body {
    background-color: aqua;
    background-image: url("https://c.ndtvimg.com/2020-05/tkqluj48_virat-kohli-afp_625x300_30_May_20.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}