/*
applying styles
*/
/* element selector*/
h2{
    color:red;
}

/* grouping selector */
h2,p{
    text-align: center;
}

/* id selector */
#first {
    color: blue;
}

/* class selector */
.second {
    color: aqua;
}
